@import './theme/variables.css';

.add-post {
  width: 70rem;
}

.add-post-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-post-form > div {
  width: 100%
}

.add-post-form__title-container {
  display: flex;
  padding: 0 3rem;
}

.add-post-form__title {
  flex-grow: 7;
}

.add-post-form__title:hover {
  outline: none;
}

.add-post-form__title:hover::before {
  background: none !important;
}

div.add-post-form__title::after,
div.add-post-form__title::before {
  background: none;
}

.add-post-form__upload-label {
  flex-grow: 1;
}

.add-post-form__divider {
  border-bottom: var(--primary-border);
  margin: 1rem 0;
}

.add-post-form__description-container {
  display: flex;
  height: 61rem;
}

.add-post-form__add-button {
  position: absolute;
  height: inherit;
  transform: translate(-5rem,0);
  margin-top: -1.1rem;
  overflow: hidden;
}

.add-post-form__textarea {
  resize: none;
  outline: none;
  width: 100%;
  height: 61rem;
  font-family: var(--default-font-family);
  font-size: var(--font-size--sm);
  border: none;
}

.add-post-form__publish-post-button {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.add-post-load-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-post-load-image__progress-wrapper {
  min-width: 2rem;
}

.add-post-image-preview {
  height: 4rem;
}
.add-post-media-widget {
  position: relative;
}

.add-post-image-preview__image {
  height: 100%;
}

.add-post-media-widget__menu-items {
  display: flex;
  margin: 0;
  padding: 0;
}

.add-post-media-widget__menu-item-hidden-input {
  overflow: hidden;
  transition: width 0.5s;
  width: 12rem;
  display: flex;
  align-items: center;
}

@media (max-width: 780px) {
  .add-post {
    width: 90%;
  }
  .add-post-form__add-button {
    transform: translate(-3.7rem,0);
  }
}

@media (max-width: 600px) {
  .add-post {
    width: 85%;
  }
  .add-post-form__title-container {
    flex-direction: column;
  }
}

@media (max-width: 450px) {
  .add-post-form__add-button {
    transform: translate(-3.4rem,0);
  }
}