@import './theme/variables.css';

.add-post {
  width: 700px;
}

.add-post-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-post-form > div {
  width: 100%
}

.add-post-form__title-container {
  display: flex;
  padding: 0 30px;
}

.add-post-form__title {
  flex-grow: 7;
}

.add-post-form__title:hover {
  outline: none;
}

.add-post-form__title:hover::before {
  background: none !important;
}

div.add-post-form__title::after,
div.add-post-form__title::before {
  background: none;
}

.add-post-form__upload-label {
  flex-grow: 1;
}

.add-post-form__divider {
  border-bottom: var(--primary-border);
  margin: 10px 0;
}

.add-post-form__description-container {
  display: flex;
}

.add-post-form__add-button {
  font-size: 48px;
  position: absolute;
  left: 48px;
}

.add-post-form__textarea {
  resize: none;
  outline: none;
  width: 100%;
  height: 40rem;
  font-family: var(--default-font-family);
  font-size: var(--font-size--sm);
  border: none;
}

.add-post-form__publish-post-button {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.add-post-load-image {
  display: flex;
  justify-content: space-between;
}

.add-post-image-preview {
  height: 40px;
}

.add-post-image-preview__image {
  height: 100%;
}

.add-post-media-widget__menu-items {
  display: flex;
  margin: 0;
  padding: 0;
}
