.AddPage {
  text-align: center;
  background-color: white;
  width: 80%;

  .post-form {
    background-color: #799a98;

    .desc {
      padding-top: 10px;
      color: white;
      margin: 0;
    }
  
    .field {
      width: 90%;
      background-color: white;
      color: rgba(0, 0, 0, 0.54);
  
      input {
        padding: 8px;
        color: rgba(0, 0, 0, 0.54);
        font-size: 18px;
      }
  
      textarea {
        padding: 8px;
        color: rgba(0, 0, 0, 0.54);
        font-size: 14px;
      }
    }
  
    .button {
      padding-bottom: 15px;
      padding-top: 10px;
      justify-content: center;
    }
  }
}
