@import './theme/variables.css';

.custom-button {
  border: var(--secondary-border);
  border-color: var(--primary-border-color);
  border-radius: var(--default-border-radius);
  padding: 6px 40px;
  font-family: var(--default-font-family);
  font-size: var(--font-size--sm);
  outline: none;
}
.custom-button:disabled {
  opacity: 0.6;
}
.custom-button.default {
  background: var(--primary-background);
  color: var(--secondary-color);
}
.custom-button.default:hover {
  background: var(--secondary-background);
  color: var(--color-for-secondary-background);
}
.custom-button.primary {
  background: var(--secondary-background);
  color: var(--color-for-secondary-background);
}
