@import './theme/variables.css';

.custom-button {
  cursor: pointer;
  border: var(--secondary-border);
  border-color: var(--primary-border-color);
  border-radius: var(--default-border-radius);
  padding: 0.6rem 4rem;
  font-family: var(--default-font-family);
  font-size: var(--font-size--sm);
  outline: none;
  transition: all 0.2s;
  cursor: pointer;
}
.custom-button:disabled {
  cursor: default;
  opacity: 0.6;
}
.custom-button.default {
  background: var(--primary-background);
  color: var(--secondary-color);
}
.custom-button.default:hover {
  background: var(--secondary-background);
  color: var(--color-for-secondary-background);
}
.custom-button.primary,
.custom-button.primary:disabled:hover {
  background: var(--secondary-background);
  color: var(--color-for-secondary-background);
}
.custom-button.primary:hover {
  background: var(--color-for-secondary-background);
  color: var(--secondary-background);
}
