@import './theme/variables.css';

.chat-page {
  background: var(--primary-dark-background);
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chats {
  background-color: white;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-self: center;
  width: 50vw;
  height: 80vh;
  box-shadow: 0 0 1.5rem -0.5rem rgba(0, 0, 0, 0.25);
}

.chat {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid rgba(170, 170, 170, 0.411);
}

.messages {
  background-color: white;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-self: center;
  height: 80vh;
  width: 50vw;
  box-shadow: 0 0 1.5rem -0.5rem rgba(0, 0, 0, 0.25);
}

.date {
  font-size: 1.2rem;
}
