@import './theme/variables.less';

footer{
  position: fixed;
  z-index: 2;
  width: 100%;
  bottom: 0;
  color: @inversed-color;
  padding: 25px 55px;
  background-color: @secondary-background;

  a {
    color: @inversed-color;
    text-decoration: none;

    &:hover {
      opacity: 0.7;
    }
  }
}