@import './theme/variables.css';

header {
  min-height: 69px;
  background: var(--primary-background);
  border-bottom: var(--secondary-border);
  padding: 0 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header--for-authorised {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header__logo {
  height: 40px;
  width: 140px;
  background-image: url("../images/logo.svg");
  background-size: cover;
}
.header__create-button {
  padding-right: 40px;
}
.header__user-info {
  padding-right: 16px;
}
