header {
  min-height: 69px;
  background: rgb(255, 255, 255);

  .logo {
    float: left;
    height: 40px;
    width: 140px;
    background-image: url("../images/logo.svg");
    background-size: cover;
    margin-top: 13px;
    margin-left: 10%;
  }

  .user {
    cursor: pointer;
    margin-right: 150px;
    margin-top: 10px;
    float: right;
    display: inline-flex;
  
    .header-bar-username {
      padding-top: 10px; 
      padding-right: 10px;
      font-family: Marker Felt;
    }
  }
  
  button.login-button {
    margin-left: 20px;
    margin-right: 80px;
    margin-top: 15px;
    border: 0;
    box-shadow: 0;
    width: 100px;
    height: 20px;
    float: right;
    clear: 'lest';
  }
  
  .login-button-popup {
    border: 0;
    box-shadow: 0;
    width: 100px;
    height: 20px;
    position: center;
    clear: lest;
  }
}