@import './theme/variables.less';

header {
  min-height: 69px;
  background: @primary-background;
  border-bottom: @secondary-border;
  padding: 0 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    float: left;
    height: 40px;
    width: 140px;
    background-image: url("../images/logo.svg");
    background-size: cover;
  }

  .header-for-authorised {
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  
    .header-for-authorised--create-button {
      padding-right: 40px;
    }

    .header-for-authorised--user {
      padding-right: 16px;
    }
  }
  
  button.login-button {
    border: 0;
    box-shadow: 0;
    width: 100px;
    height: 20px;
    float: right;
    clear: 'lest';
  }
  
  .login-button-popup {
    border: 0;
    box-shadow: 0;
    width: 100px;
    height: 20px;
    position: center;
    clear: lest;
  }
}