@import './theme/variables.less';

html, body {
  margin: 0;
  font-family: @font_family;
}

a {
  text-decoration: none;
  color: @secondary-color;
}

.content {
  display: flex;
  justify-content: center;
  min-height: 450px;
  margin-bottom: 50px;
}

p {
  margin: 8px 0;
}