@import './theme/variables.css';

html, body, #root {
  margin: 0;
  font-family: var(--default-font-family);
  font-size: var(--font-size--sm);
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
}

.app-container {
  flex: 1 0 auto;
}
a {
  text-decoration: none;
  color: var(--secondary-color);
}
.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 450px;
  margin-bottom: 50px;
  padding-top: 35px;
}
p {
  margin: 8px 0;
}
