@import './theme/variables.css';

html,
body {
  margin: 0;
  font-family: var(--font_family);
}
a {
  text-decoration: none;
  color: var(--secondary-color);
}
.content {
  display: flex;
  justify-content: center;
  min-height: 450px;
  margin-bottom: 50px;
}
p {
  margin: 8px 0;
}
