@import './theme/variables.css';

html, body, #root {
  margin: 0;
  font-family: var(--default-font-family);
  font-size: 10px;
  height: 100vh;
}

#root {
  font-size: var(--font-size--sm);
  display: flex;
  flex-direction: column;
}

.app-container {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
  color: var(--secondary-color);
}
.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3.5rem 0 5rem;
  flex: 1 0 auto;
}
.content--with-grey-background {
  background: var(--primary-dark-background);
}
p {
  margin: 0.8rem 0;
}

input, label, textarea, li {
  font-size: var(--font-size--sm) !important;
}

@media (max-width: 550px) {
  .content {
    margin-bottom: 2.5rem;
  }
}
