@import './theme/variables.css';

.modal > div {
  overflow: hidden;
  min-width: 32rem;
}

.modal__title > h2 {
  font-family: var(--default-font-family);
  font-size: var(--font-size--md);
  color: var(--secondary-color);
}

.modal__content {
  display: flex;
  flex-direction: column;
}

.modal__actions {
  margin: 0;
  padding: 2.4rem;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form p {
  font-size: 1rem !important;
}

.modal-form__action-button,
.modal__action-buttons {
  margin-top: 2.4rem;
  align-self: flex-end;
}

.modal__action-buttons button:first-child {
  margin-right: 10px;
}
