.button-plus {
  text-align: center;

  .round {
    display: inline-block;
    margin-top: 20px;
    border-radius: 100px;
    border: none;
    width: 150px;
    height: 150px;
    margin-left: -1px;
    background: url("../images/add_1.png") no-repeat;
    background-size: cover;

    &:hover {
      background: url("../images/add_2.png") no-repeat;
      background-size: cover;
    }
  }
}