@import './theme/variables.css';

.popover > div {
  min-width: 32rem;
}

.popover__title > h2 {
  font-family: var(--default-font-family);
  font-size: var(--font-size--md);
  color: var(--secondary-color);
}

.popover__content {
  display: flex;
  flex-direction: column;
}
.popover__actions {
  margin: 0;
  padding: 2.4rem;
}
