.posts-page__searchbar {
  width: 85rem;
  /*padding: 0 1rem;*/
  margin-bottom: 1rem;
}
.search-bar__form {
  width: 100%;
}
.posts-page__list-of-articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  width: 85rem;
}
.posts-page__create-button {
  display: none;
}
.search-bar__input {
  width: calc(100% - 4rem);
  border-radius: var(--small-border-radius);
  border: none;
  padding: 1rem 2rem;
  outline: none;
  box-shadow: 0 0 1.5rem -0.5rem rgba(0,0,0,0.25);
}

@media (max-width: 850px) {
  .posts-page__list-of-articles,
  .posts-page__searchbar {
    width: 100%;
  }
}

@media (max-width: 760px) {
  .posts-page__list-of-articles,
  .posts-page__searchbar {
    width: 75%;
  }
}

@media (max-width: 580px) {
  .posts-page__create-button {
    display: block;
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 500px) {
  .posts-page__list-of-articles,
  .posts-page__searchbar {
    width: 95%;
  }
}

@media (min-width: 1300px) {
  .posts-page__list-of-articles,
  .posts-page__searchbar {
    width: 130rem;
  }
}
