.user-profile__profile-info-block {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size--md);
  margin-bottom: 15px;
}

.user-profile__avatar {
  margin-right: 20px;
}

.user-profile-form {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  align-items: center;
}

.user-profile-form__save-button {
  margin-top: 15px;
}
