.user-profile__profile-info-block {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size--md);
  margin-bottom: 15px;
}

.user-profile__avatar {
  margin-right: 20px;
}