{
  "database": {
    "dialect": "mysql",
    "database": "sunmait_blog_development",
    "username": <YOUR USERNAME>,
    "password": <YOUR PASSWORD>,
    "host": "localhost",
    "port": <YOUR PORT>
  },
  "secretKey": "bbabb",
  "hostname": "http://localhost:3000"
}

