{
  "development": {
    "username": <YOUR USERNAME>,
    "password": <YOUR PASSWORD>,
    "database": "sunmait_blog_development",
    "host": "localhost",
    "port": <YOUR PORT>,
    "dialect": "mysql"
  },
  "test": {
    "username": "root",
    "password": null,
    "database": "sunmait_blog__test",
    "host": "127.0.0.1",
    "dialect": "mysql"
  },
  "production": {
    "username": "root",
    "password": null,
    "database": "sunmait_blog",
    "host": "127.0.0.1",
    "dialect": "mysql"
  }
}
